<div class="admin-team-container">
  <h2>Team Members</h2>
  <button mat-flat-button color="primary" (click)="openCreateDialog()">
    <mat-icon>person_add</mat-icon> Add Member
  </button>
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="!loading && team.length === 0">No team found.</div>
  <div class="team-grid" *ngIf="!loading && team.length">
    <div class="team-card" *ngFor="let m of team">
      <img class="avatar" [src]="m.image" alt="{{ m.name }}" />
      <h3>{{ m.name }}</h3>
      <p>{{ m.bio }}</p>
      <div class="socials">
        <a *ngIf="m.facebook" href="{{ m.facebook }}" target="_blank">
          <mat-icon>facebook</mat-icon>
        </a>
        <a *ngIf="m.twitter" href="{{ m.twitter }}" target="_blank">
          <mat-icon>twitter</mat-icon>
        </a>
        <a *ngIf="m.instagram" href="{{ m.instagram }}" target="_blank">
          <mat-icon>instagram</mat-icon>
        </a>
        <a *ngIf="m.linkedin" href="{{ m.linkedin }}" target="_blank">
          <mat-icon>linkedin</mat-icon>
        </a>
      </div>
      <div class="actions">
        <button mat-button color="accent" (click)="openEditDialog(m)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="deleteMember(m.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
